@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2 style="text-align: center; margin-top: 10%"><b>GFV</b> - Gerenciador de Frotas de Veículos</h2>

    <div style="margin-top: 30%">
    </div>

</div>

