@using Microsoft.AspNetCore.Mvc.Rendering
@model SelectList

<div class="form-group">     
    @Html.Label(null, "Frota", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.DropDownList("CurrentFleetVehicle", Model.OrderBy(x => x.Text), new { htmlAttributes = new { @class = "form-control" } })                
    </div>
</div> 

<script>

    function setCurrentFleet(){
        let currentFleet = $('[name="CurrentFleetVehicle"]').val();  

        if(currentFleet != null && currentFleet != ''){
            
            $.ajax({
                url: "./Current",
                type: "POST",
                data: {code : currentFleet},
                success: function(data) {
                    //console.log(data);

                    setTimeout(function(){ 
                        location.reload();
                    }, 200);                    
                },
                error: function(data) {
                    console.log(data);
                },
                complete: function(data) {
                   //console.log(data);
                }                  
            });

        }  
    }

    $(document).ready(function() {

        $('[name="CurrentFleetVehicle"]').change(function () {
            setCurrentFleet();
        });        

    });    
</script> 